/*@import '../vendor/dojo/dojo/resources/dojo.css';*/
/*@import '../vendor/dojo/dijit/themes/claro/claro.css';*/
@import '../vendor/twitter-bootstrap/css/bootstrap.css';
@import '../vendor/twitter-bootstrap/css/bootstrap-responsive.css';
@import '../vendor/font-awesome/build/assets/font-awesome/css/font-awesome.css';

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #f5f5f5;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -40px;
}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 40px;
}
#footer {
  background-color: #2f2f2f;
}
#footer p {
  margin-top: 10px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 979px) {
  #page {
      padding-top: 60px;
  }
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
  font-weight: normal;
}

.form-login {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

:focus {
  outline: 1px dashed #ccc;
}​

/* dgrid */
.dgrid-column-selector {
  width: 25px;
}

.dgrid-row-odd {
  background: #F2F5F9;
}

.dgrid-cell {
  border: none;
}

.dgrid-selected {
  background: #999; /* Make selected rows be gray */
}

th {
  font-weight: normal;
}

th.field-actions-2, td.field-actions-2 {
  width: 51px;
}

th.field-actions-3, td.field-actions-3 {
  width: 76px;
}

th.field-actions-4, td.field-actions-4 {
  width: 101px;
}

.close-tab {
  cursor: pointer;
}

.relation-container {
  margin: 20px 0;
}

.relation-container legend {
  margin-bottom: 0;
}

.padding-bottom {
  padding-bottom: 10px;
}

.dgrid-loading, .dgrid-no-data {
  padding: 10px;
}