/*@import '../vendor/twitter-bootstrap/css/bootstrap.css';*/
@import '../vendor/twitter-bootstrap/css/bootstrap-responsive.css';
@import '../vendor/dbootstrap/theme/dbootstrap/dbootstrap.css';
@import '../vendor/font-awesome/build/assets/font-awesome/css/font-awesome.css';

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #f5f5f5;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -40px;
}

#push, #footer {
  height: 40px;
}
#footer {
  background-color: #2f2f2f;
}
#footer p {
  margin-top: 10px;
  padding: 0 10px;
}

/* responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.form-login {
  max-width: 320px;
  padding: 9px 29px 29px;
  margin: 20px auto 20px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

:focus {
  outline: 1px dashed #ccc;
}​

/* dgrid */
.dgrid-column-selector {
  width: 25px;
}

.dgrid-row-odd {
  background: #F2F5F9;
}

.dgrid-cell {
  border: none;
}

.dgrid-selected {
  background: #999; /* Make selected rows be gray */
}

.dgrid-loading, .dgrid-no-data {
  padding: 10px;
}

th {
  font-weight: normal;
}

th.field-actions-2, td.field-actions-2 {
  width: 50px;
}

th.field-actions-3, td.field-actions-3 {
  width: 70px;
}

th.field-actions-4, td.field-actions-4 {
  width: 90px;
}

/* dnd */
.dojoDndAvatarHeader {
  background-position:3px 3px !important;
}

/* buttons */
.btn-toolbar {
  padding: 10px 0;
}

.btn i {
  padding: 0 4px;
}

.btn-mini .dijitButtonNode {
  padding: 2px !important;
}

/* containers */
@media
only screen and (min-width: 980px) {
  .container {
    width: 980px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

.relation-container {
  margin: 20px 0;
}

.padding-bottom {
  padding-bottom: 10px;
}

/* entity form */
.entity-form-valueCell {
  padding: 10px 0;
}

.checkBoxLabel {
  padding: 0 10px 0 5px;
}

/*
  Responsive table layout for form
  http://css-tricks.com/responsive-data-tables/
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	td {
		/* Behave like a "row" */
		position: relative;
	}
}