*.log
log.txt
docs/api-gen/html/theme
docs/api-gen/html/search
docs/api-gen/html/*.html
docs/api-gen/html/*.css
docs/api-gen/html/*.js
docs/api-gen/html/*.png
docs/api-gen/html/*.svg
docs/api-gen/html/*.md5
docs/api-gen/html/*.map
!docs/api-src/theme/vendor
dist-wcmf
src/app
src/install
src/wcmf/test/model/model-transformed
vendor
composer.lock
src/wcmf/test/log/testdox.txt
.vscode/launch.json
src/wcmf/test/.phpunit.result.cache
