[submodule "testapp/public/vendor/dojo-bootstrap"]
	path = testapp/public/vendor/dojo-bootstrap
	url = git://github.com/xsokev/Dojo-Bootstrap.git
[submodule "testapp/public/vendor/dojo/dojo"]
	path = testapp/public/vendor/dojo/dojo
	url = git://github.com/dojo/dojo.git
[submodule "testapp/public/vendor/dojo/dijit"]
	path = testapp/public/vendor/dojo/dijit
	url = git://github.com/dojo/dijit.git
[submodule "testapp/public/vendor/dojo/dojox"]
	path = testapp/public/vendor/dojo/dojox
	url = git://github.com/dojo/dojox.git
[submodule "testapp/public/vendor/dojo/util"]
	path = testapp/public/vendor/dojo/util
	url = git://github.com/dojo/util.git
[submodule "testapp/public/vendor/dojomat"]
	path = testapp/public/vendor/dojomat
	url = git://github.com/sirprize/dojomat.git
[submodule "testapp/public/vendor/routed"]
	path = testapp/public/vendor/routed
	url = git://github.com/sirprize/routed.git
