.jumbotron h2 {
  line-height: 1.2;
}

.tocify {
  width: auto;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}

a[name] {
  position: relative;
  top: -50px;
  display: block;
}

img {
  max-width:100% !important;
  height:auto;
}

tr[class^='separator:'] {
  display: none;
}

td.entry {
  white-space: nowrap;
}

.icona span.label-info {
  padding-left: 9px;
  padding-right: 8px;
}

.anchor{
  padding-top: 50px;
  margin-top: -50px;
}

// Search

#MSearchSelectWindow {
  display: none;
  position: absolute;
  left: 0; top: 0;
}

#MSearchResultsWindow {
  display: none;
  left: 0; top: 0;
  margin: -55px 0 0 0;
  z-index: 9999;
}

#MSearchResults {
  width: 300px;
  height: 200px;
}

.SRChildren {
  padding-left: 10px; padding-bottom: .5em
}

.SRPage .SRChildren {
  display: none;
}

a.SRScope {
  display: block;
}

span.SRScope {
  padding-left: 4px;
}
