<div class="settings-page">

  <div data-dojo-type="../_include/widget/NavigationWidget" data-dojo-props="selected:'navSettings'" data-dojo-attach-point="navigation"></div>

  <!-- Begin page content -->
  <div class="container">
    <div class="clearfix">
        <h3 class="pull-left" data-dojo-attach-point="headlineNode">{translate:Settings}</h3>
    </div>
    <form class="form" id="settingsForm">
        <div data-dojo-type="../_include/FormLayout" data-dojo-props="cols:1" data-dojo-attach-point="fieldsNode">
            <input data-dojo-type="dijit/form/TextBox" title="{translate:Old password}" type="password" name="oldpassword" placeholder="{translate:Old password}">
            <input data-dojo-type="dijit/form/TextBox" title="{translate:New password}" type="password" name="newpassword1" placeholder="{translate:New password}">
            <input data-dojo-type="dijit/form/TextBox" title="{translate:New password repeated}" type="password" name="newpassword2" placeholder="{translate:New password repeated}">
        </div>
    </form>
    <div>
      <button data-dojo-type="../_include/widget/Button" data-dojo-props="'class':'btn btn-primary primary'" type="submit" data-dojo-attach-point="saveBtn" data-dojo-attach-event="onClick:_save">{translate:Save}</button>
    </div>
  </div>
  <!-- End page content -->

</div>
