<div>

  <div id="wrap">
    <div data-dojo-attach-point="navigationNode"></div>

    <!-- Begin page content -->
    <div class="container">

      <div id="static" class="alert alert-error">
        <strong>Warning!</strong> Please enable JavaScript in your browser.
      </div>

      <div id="error" class="alert alert-error" style="display:none">
      </div>

    </div>
    <!-- End page content -->

    <div id="push"></div>
  </div>
  <div data-dojo-attach-point="footerNode"></div>

</div>
