<div>

  <div id="wrap">
    <div data-dojo-attach-point="navigationNode"></div>
    <div data-dojo-attach-point="notificationNode"></div>

    <!-- Begin page content -->
    <div class="container">
      <ul class="nav nav-tabs">
        <li><a href="#" data-toggle="tab">Publisher</a></li>
        <li><a href="#" data-toggle="tab">Author</a></li>
        <li><a href="#" data-toggle="tab">Book</a></li>
      </ul>
      <div data-dojo-attach-point="dojoTab"></div>
    </div>
    <!-- End page content -->

    <div id="push"></div>
  </div>
  <div data-dojo-attach-point="footerNode"></div>

</div>
