<div class="admin-settings-page">

  <div data-dojo-type="../_include/widget/NavigationWidget" data-dojo-props="selected:'navAdmin'" data-dojo-attach-point="navigation"></div>
  <div data-dojo-attach-point="notificationNode"></div>

  <!-- Begin page content -->
  <div class="container">
    <div class="clearfix">
        <h3 class="pull-left" data-dojo-attach-point="headlineNode">{translate:Administration}</h3>
    </div>
    <form class="form" id="adminForm">
        <div data-dojo-type="../_include/FormLayout" data-dojo-attach-point="fieldsNode"></div>
    </form>
    <div>
      <button data-dojo-type="../_include/widget/Button" data-dojo-props="'class':'btn btn-primary'" type="submit" data-dojo-attach-point="indexBtn" data-dojo-attach-event="onClick:_index">{translate:Create Search Index}</button>
      <button data-dojo-type="../_include/widget/Button" data-dojo-props="'class':'btn btn-primary'" type="submit" data-dojo-attach-point="exportBtn" data-dojo-attach-event="onClick:_export">{translate:Export XML}</button>
    </div>
    <div data-dojo-attach-point="statusNode"></div>
  </div>
  <!-- End page content -->

</div>
