<div>
    <fieldset>
        <legend>${relationName}</legend>
        <div data-dojo-attach-point="notificationNode" class="container"></div>
        <div data-dojo-attach-point="gridNode"></div>
        <div class="btn-toolbar pull-right">
            <button class="btn create btn-primary" type="submit" data-dojo-attach-event="onClick:_create">Create ${relationName}</button>
            <button class="btn link btn-primary" type="submit" data-dojo-attach-event="onClick:_link">Link ${relationName}</button>
        </div>
    </fieldset>
</div>
