<div>
    <div data-dojo-attach-point="notificationNode" class="container"></div>
    <form class="form" id="${formId}">
        <h3 data-dojo-attach-point="headlineNode">${headline}</h3>
        <div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:2" data-dojo-attach-point="fieldsNode"></div>
        <div class="btn-toolbar">

            <div data-dojo-type="dijit/form/DropDownButton" data-dojo-props="iconClass:'dijitIconEdit'">
                <span>Language: ${languageName}</span>
                <div data-dojo-type="dijit/Menu" data-dojo-attach-point="languageMenuPopupNode" style="display: none;"></div>
            </div>

            <button data-dojo-type="../../_include/widget/Button" data-dojo-props="'class':'btn-danger pull-right'" type="submit" data-dojo-attach-event="onClick:_delete">Delete</button>
            <button data-dojo-type="../../_include/widget/Button" data-dojo-props="'class':'primary pull-right'" type="submit" data-dojo-attach-event="onClick:_save">Save</button>
        </div>
    </form>
    <div data-dojo-attach-point="relationsNode"></div>
</div>
