<div>
    <div data-dojo-attach-point="notificationNode" class="container"></div>
    <form class="form" id="${formId}">
        <h3 data-dojo-attach-point="headlineNode">${headline}</h3>
        <div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:2" data-dojo-attach-point="fieldsNode"></div>
        <div class="btn-toolbar">
            <div class="btn-group pull-left" data-dojo-attach-point="languageMenuNode">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    Language: <span data-dojo-attach-point="defaultLanguageNode"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" data-dojo-attach-point="languageMenuPopupNode">
                </ul>
            </div>
            <button data-dojo-type="../../_include/widget/Button" data-dojo-props="'class':'btn-danger pull-right'" type="submit" data-dojo-attach-event="onClick:_delete">Delete</button>
            <button data-dojo-type="../../_include/widget/Button" data-dojo-props="'class':'primary pull-right'" type="submit" data-dojo-attach-event="onClick:_save">Save</button>
        </div>
    </form>
    <div data-dojo-attach-point="relationsNode"></div>
</div>
