<div>
    <div data-dojo-attach-point="notificationNode"></div>
    <div class="clearfix">
        <h3 class="pull-left" data-dojo-attach-point="headlineNode">${headline}</h3>
        <a href="#" data-dojo-attach-event="onClick:_toggleLock"><i class="fa fa-unlock" data-dojo-attach-point="lockNode"></i></a>
    </div>
    <form class="form" id="${formId}">
        <div data-dojo-type="../../_include/FormLayout" data-dojo-attach-point="fieldsNode"></div>
    </form>
    <div class="btn-toolbar clearfix">
        <div class="pull-right">
          <button data-dojo-type="../../_include/widget/Button" data-dojo-props="'class':'primary'" type="submit" data-dojo-attach-point="saveBtn" data-dojo-attach-event="onClick:_save">{translate:Save}</button>
          <button data-dojo-type="../../_include/widget/Button" data-dojo-props="'class':'danger'" type="submit" data-dojo-attach-point="deleteBtn" data-dojo-attach-event="onClick:_delete">{translate:Delete}</button>
        </div>
    </div>
    <hr>
    <div data-dojo-attach-point="relationsNode"></div>
</div>
