<div class="relation-container">
    <div class="clearfix">
      <h4 class="pull-left">${relationName}</h4>
      <div class="btn-toolbar pull-right">
          <button data-dojo-type="../../_include/widget/Button" data-dojo-props="'class':'btn-mini'" type="submit" data-dojo-attach-point="createBtn" data-dojo-attach-event="onClick:_create"><i class="icon-plus-sign"></i></button>
          <button data-dojo-type="../../_include/widget/Button" data-dojo-props="'class':'btn-mini'" type="submit" data-dojo-attach-point="linkBtn" data-dojo-attach-event="onClick:_link"><i class="icon-link"></i></button>
      </div>
    </div>
    <div data-dojo-attach-point="notificationNode"></div>
    <div data-dojo-attach-point="gridNode"></div>
</div>
