<div>

  <div data-dojo-attach-point="navigationNode"></div>
  <div data-dojo-attach-point="notificationNode"></div>

  <!-- Begin page content -->
  <div class="container">
    <div class="span9">
      <div class="hero-unit">
        <h1 id="title">Welcome</h1>
        <p>This is the main entry point of this wCMF application.</p>
        <p><a href="#" class="btn btn-primary btn-large push" data-dojo-attach-event="onClick:_navigateContent">Manage Content &raquo;</a></p>
      </div>
    </div>
  </div>
  <!-- End page content -->

</div>
