<div>

  <div data-dojo-attach-point="navigationNode"></div>

  <!-- Begin page content -->
  <div class="container">
    <form class="form-login" id="loginForm">
      <h3><i class="icon-comment-alt"></i> Please log in</h3>
      <div data-dojo-attach-point="notificationNode"></div>
      <input data-dojo-type="dijit/form/TextBox" type="text" name="user" placeholder="Login">
      <input data-dojo-type="dijit/form/TextBox" type="password" name="password" placeholder="Password">
      <button data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'" type="submit" data-dojo-attach-point="loginBtn" data-dojo-attach-event="onClick:_login">Log in</button>
    </form>
  </div>
  <!-- End page content -->

</div>
