<div class="media-browse-page">

  <!-- Begin page content -->
  <div>
    <div data-dojo-type="dijit/layout/TabContainer" id="tabContainer" style="width: 800px; height: 650px;">
      <div data-dojo-type="dijit/layout/ContentPane" title="{translate:Media Pool}" id="mediaTab" data-dojo-props="selected:true">
        <div id="elfinder"></div>
      </div>
      <div data-dojo-type="dijit/layout/ContentPane" title="{translate:Content}" id="contentTab">
      </div>
    </div>
  </div>
  <!-- End page content -->

</div>
