<div id="confirmDlg" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 data-dojo-attach-point="titleNode"></h3>
    </div>
    <div class="modal-body">
        <p data-dojo-attach-point="contentNode"></p>
    </div>
    <div class="modal-footer">
        <i class="icon-spinner icon-spin icon-2x pull-left" data-dojo-attach-point="spinnerNode"></i>
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true" data-dojo-attach-point="cancelBtn">Cancel</a>
        <a href="#" class="btn btn-primary" data-dojo-attach-point="okBtn">OK</a>
    </div>
</div>
