<div>
    <div class="dijitDialogPaneContentArea">
        <div data-dojo-attach-point="contentNode">
            ${message}
        </div>
    </div>
    <div class="dijitDialogPaneActionBar">
        <i class="icon-spinner icon-spin icon-2x pull-left" data-dojo-attach-point="spinnerNode"></i>
        <button data-dojo-type="dijit/form/Button" data-dojo-props="'class':'primary'" type="submit" data-dojo-attach-point="okBtn">OK</button>
        <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="cancelBtn">Cancel</button>
    </div>
</div>
