<div class="settings-page">

  <div data-dojo-attach-point="navigationNode"></div>
  <div data-dojo-attach-point="notificationNode"></div>

  <!-- Begin page content -->
  <div class="container">
    <div class="clearfix">
        <h3 class="pull-left" data-dojo-attach-point="headlineNode">Administration</h3>
    </div>
    <form class="form" id="adminForm">
        <div data-dojo-type="../_include/FormLayout" data-dojo-attach-point="fieldsNode"></div>
    </form>
    <div class="btn-toolbar clearfix">
        <div class="pull-right">
          <button data-dojo-type="../_include/widget/Button" data-dojo-props="'class':'primary'" type="submit" data-dojo-attach-point="saveBtn" data-dojo-attach-event="onClick:_save">Save</button>
        </div>
    </div>
  </div>
  <!-- End page content -->

</div>
