@import url('../vendor/twitter-bootstrap/css/bootstrap.css');
@import url('../vendor/twitter-bootstrap/css/bootstrap-responsive.css');
@import url('../vendor/dbootstrap/theme/dbootstrap/dbootstrap.css');
@import url('../vendor/font-awesome/css/font-awesome.css');
@import url('../vendor/dgrid/css/dgrid.css');
@import url('../vendor/dojo/dojo/resources/dnd.css');
@import url('../vendor/dgrid/css/extensions/ColumnHider.css');
@import url('../vendor/dgrid/css/extensions/ColumnResizer.css');

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #f5f5f5;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background: #2f2f2f;
}

#footer p {
  margin-top: 10px;
  padding: 0 10px;
}

.jumbotron {
  color: #FFFFFF;
  background: #2f2f2f;
  padding: 50px 20px;
  text-align: center;
}

.jumbotron h1 {
  font-size: 40px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1;
}

.hero-unit {
  background: #ffffff;
}

.dgrid .dgrid-row:hover, .dgrid .dgrid-row:hover .dgrid-cell {
  background-color: #08c;
}

.dgrid-selected, .dgrid-selected .dgrid-cell {
  background-color: #08c;
}

.dgrid .dgrid-row:hover, .dgrid .dgrid-row:hover .dgrid-cell a,
.dgrid-selected .dgrid-cell a {
  color: #fff;
}

.dgrid .dgrid-cell {
  text-shadow: none;
}

.dgrid-cell-padding {
  padding: 6px;
}

.login-page {
  margin-top: -50px;
}

.form-login {
  max-width: 940px;
  padding: 9px 29px 29px;
  margin: 60px auto 20px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

:focus {
  outline: 1px dashed #ccc;
}​

/* input */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  margin-bottom: 0;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border: none;
  box-shadow: none;
  outline: 0 none;
}

select:disabled,
textarea:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="time"]:disabled,
input[type="week"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="color"]:disabled,
.uneditable-input:disabled {
  border: none;
  box-shadow: none;
  outline: 0 none;
}

.login-page .dijitTextBox {
  margin: 5px;
}

.entity-page .dijitTextBox, .principal-page .dijitTextBox {
  width: 350px;
}

/* dgrid */
.dgrid-column-selector {
  width: 25px;
}

.dgrid-loading, .dgrid-no-data {
  padding: 10px;
}

th.field-actions-1, td.field-actions-1 {
  width: 30px;
}

th.field-actions-2, td.field-actions-2 {
  width: 60px;
}

th.field-actions-3, td.field-actions-3 {
  width: 90px;
}

th.field-actions-4, td.field-actions-4 {
  width: 120px;
}

.dgrid-row {
  height: 35px;
}

.dgrid-cell {
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* dnd */
.dojoDndAvatarHeader {
  background-position:3px 3px !important;
}

/* buttons */
.btn-toolbar {
  padding: 10px 0;
}

.btn i {
  padding: 0 4px;
}

.btn-mini .dijitButtonNode {
  padding: 2px !important;
}

.btn-mini {
  font-size: 12.5px;
}

/* tabs */
.nav-tabs > li .close {
  margin: -20px 0 0 10px;
  font-size: 18px;
}

.dbootstrap .dijitTabPaneWrapper {
  border: none;
  border-top: 1px solid #d5d5d5;
}

/* containers */
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

.relation-container {
  margin: 20px 0;
}

.padding-bottom {
  padding-bottom: 10px;
}

/* entity form */
.entity-form-valueCell {
  padding: 10px 0;
}

.checkBoxLabel {
  padding: 0 10px 0 5px;
}

td {
  vertical-align: top;
}

.tableContainer-labelCell {
  padding-top: 14px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

img.thumb {
  width: auto !important;
  height: 46px !important;
}

.tabLabel img.thumb {
  height: 20px !important;
}

@media only screen and (min-width: 980px) {
  .container {
    width: 980px;
  }
  #wrap  {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 980px) {
  #wrap  {
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
  }
}

/*
  Responsive table layout for form
  http://css-tricks.com/responsive-data-tables/
*/
@media only screen and (max-width: 980px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    /* Behave like a "row" */
    position: relative;
  }

  .entity-page .dijitTextBox, .principal-page .dijitTextBox {
    width: 95%;
  }
}