<div>
    <div class="dijitDialogPaneContentArea">
        <div data-dojo-attach-point="notificationNode"></div>
        <form id="loginForm">
            <div><i class="fa fa-exclamation-circle fa-2x pull-left"></i> &nbsp;{translate:Your session is lost. Please sign in.}</div><br>
            <input data-dojo-type="dijit/form/TextBox" type="text" name="user" data-dojo-props="placeholder:'{translate:Username}'">
            <input data-dojo-type="dijit/form/TextBox" type="password" name="password" data-dojo-props="placeholder:'{translate:Password}'">
        </form>
    </div>
    <div class="dijitDialogPaneActionBar">
        <button data-dojo-type="../../_include/widget/Button" data-dojo-props="'class':'primary'" type="submit" data-dojo-attach-point="okBtn">{translate:Sign in}</button>
        <button data-dojo-type="../../_include/widget/Button" type="button" data-dojo-attach-point="cancelBtn">{translate:Cancel}</button>
    </div>
</div>
