<div id="header" class="navbar navbar navbar-fixed-top " data-dojo-attach-point="menuBar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" data-dojo-attach-point="collapseToggleBtn">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="#">${title}</a>

            <div class="nav-collapse collapse" data-dojo-attach-point="menuCollapse">
                <ul class="nav">
                    <li class="main-menu push" id="navHome" data-wcmf-route="home">
                        <a href="#">{translate:Home}</a>
                    </li>
                    <li class="main-menu push" id="navContent" data-wcmf-route="entityList" data-wcmf-pathparams="type:'${firstRootType}'">
                        <a href="#">{translate:Content}</a>
                    </li>
                    <li class="main-menu dropdown" id="navAdmin" data-dojo-type="bootstrap/Dropdown" data-wcmf-restrict-roles="administrators">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {translate:Administration} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="push" data-wcmf-route="admin">
                                <a href="#"><i class="fa fa-wrench"></i> {translate:Settings}</a>
                            </li>
                            <li class="push" data-wcmf-route="principalList" data-wcmf-pathparams="type:'${userType}'">
                                <a href="#"><i class="fa fa-user"></i> {translate:Usermanagement}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <form class="navbar-form pull-left">
                            <input type="text" name="search" class="span2" placeholder="{translate:Search}" data-dojo-attach-point="searchField">
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="main-menu dropdown" id="navSettings" data-dojo-type="bootstrap/Dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i> <span class="user">${userName}</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="push" data-wcmf-route="settings">
                                <a href="#"><i class="fa fa-wrench"></i> {translate:Settings}</a>
                            </li>
                            <li class="push" data-wcmf-route="logout">
                                <a href="#"><i class="fa fa-sign-out"></i> {translate:Logout}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
