<div>
    <div id="header"
        data-dojo-type="dijit/MenuBar" data-dojo-attach-point="menuBar"
        data-dojo-props="region:'top', 'class':'navbar-fixed-top'">
        <div data-dojo-type="dijit/MenuBarItem" class="main-menu push" id="navHome" data-dojorama-route="home">
            <span>{translate:Home}</span>
        </div>
        <div data-dojo-type="dijit/MenuBarItem" class="main-menu push" id="navContent" data-dojorama-route="entityList" data-dojorama-pathparams="type:'${firstRootType}'">
            <span>{translate:Content}</span>
        </div>
        <div data-dojo-type="dijit/PopupMenuBarItem" class="main-menu" id="navAdmin">
            <span>{translate:Administration} <b class="caret"></b></span>
            <div data-dojo-type="dijit/DropDownMenu">
                <div data-dojo-type="dijit/MenuItem" class="push" data-dojorama-route="admin">
                  <span><i class="icon-wrench"></i> {translate:Settings}</span>
                </div>
                <div data-dojo-type="dijit/MenuSeparator"></div>
                <div data-dojo-type="dijit/MenuItem" class="push" data-dojorama-route="principalList" data-dojorama-pathparams="type:'${userType}'">
                  <span><i class="icon-user"></i> {translate:Usermanagement}</span>
                </div>
            </div>
        </div>
      <span><input type="text" name="search" data-dojo-type="dijit/form/TextBox" data-dojo-props="'class':'search-query'" data-dojo-attach-point="searchField" placeholder="{translate:Search}" /></span>
        <div data-dojo-type="dijit/PopupMenuBarItem" class="main-menu" id="navSettings">
            <span><i class="icon-user"></i> <span class="user">${userName}</span> <b class="caret"></b></span>
            <div data-dojo-type="dijit/DropDownMenu">
                <div data-dojo-type="dijit/MenuItem" class="push" data-dojorama-route="settings">
                  <span><i class="icon-wrench"></i> {translate:Settings}</span>
                </div>
                <div data-dojo-type="dijit/MenuSeparator"></div>
                <div data-dojo-type="dijit/MenuItem" class="push" data-dojorama-route="logout">
                  <span><i class="icon-off"></i> {translate:Logout}</span>
                </div>
            </div>
        </div>
    </div>
</div>
